AuthoriztionService/WebContent/wsdl/AuthServe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serv.auth.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serv.auth.com" xmlns:intf="http://serv.auth.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serv.auth.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="admLogin">
    <complexType>
     <sequence>
      <element name="uname" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="admLoginResponse">
    <complexType>
     <sequence>
      <element name="admLoginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="admLoginRequest">

      <wsdl:part element="impl:admLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="admLoginResponse">

      <wsdl:part element="impl:admLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthServe">

      <wsdl:operation name="admLogin">

         <wsdl:input message="impl:admLoginRequest" name="admLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:admLoginResponse" name="admLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthServeSoapBinding" type="impl:AuthServe">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="admLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="admLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="admLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthServeService">

      <wsdl:port binding="impl:AuthServeSoapBinding" name="AuthServe">

         <wsdlsoap:address location="http://localhost:8080/AuthorizationService/services/AuthServe"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
